<div class="post">
  <h1 class="user">Post page.</h1>
  <h2>Following are just one post:</h2>
  <div>
      {{!-- <h3 class="user">{{user.username}}</h3> --}}      
      <h6 class="timestamp">{{createdAt}}</h6>
      <ul class="message">
        <li>{{messageHTML}}</li>
      </ul>
      <button class="edit post">Edit</button>
      <button class="delete post">Delete</button>
      {{#if isEditing}}
        <button class="comment done">Done</button>
        <textarea rows="3" cols="10"class="comment post"></textarea>
      {{else}}
        <button class="comment post" {{action 'showComment'}}>Comment</button>
      {{/if}}
      {{!-- Discuss semantic Markup with Whit --}}
      <br/>
  </div>
</div>
