<div class="post">
  <h1 class="user">Post page.</h1>
  <h2>Following are just one post:</h2>
  <div>
      <h3 class="user">{{user.username}}</h3>      
      <h6 class="timestamp">{{createdAt}}</h6>
      <ul class="message">
        <li>{{message}}</li>
      </ul>
      <h3>Comments</h3>
      {{#each comments}}
      <ul class="comments">
      <li>{{message}}</li>
      </ul>
      {{/each}}

      <button class="delete post" {{action "deletePost"}}>Delete</button>
      {{#if isCommenting}}
        <button class="comment done" {{action "commentPost"}}>Done</button>
        {{textarea class="comment post" value=inputComment placeholder="Comment me?"}}
      {{else}}
        <button class="comment post" {{action "showComment"}}>Comment</button>
      {{/if}}
      {{#if isEditing}}
        <button class="edit done" {{action "editPost"}}>Done</button>
        {{textarea class="edit post" value=message placeholder="Edit me?"}}
      {{else}}
        <button class="edit post" {{action "showEdit"}}>Edit</button>
      {{/if}}

      {{outlet}}
      {{!-- Discuss semantic Markup with Whit --}}
      <br/>
      <div class="map"></div>
  </div>
</div>
