<div class="post">
  <h1 class="user">Post page.</h1>
  <h2>Following are just one post:</h2>
  <div>
      <h3 class="user">{{user.username}}</h3>      
      <h6 class="timestamp">{{createdAt}}</h6>
      <ul class="message">
        <li>{{messageHTML}}</li>
      </ul>
      <button class="delete post">Delete</button>
      {{#if isCommenting}}
        <button class="comment done">Done</button>
        <textarea rows="3" cols="50"class="comment post"></textarea>
      {{else}}
        <button class="comment post" {{action "showComment"}}>Comment</button>
      {{/if}}
      {{#if isEditing}}
        <button class="edit done" {{action "editPost"}}>Done</button>
        {{textarea class="edit post" value=messageHTML placeholder="Edit me?"}}
      {{else}}
        <button class="edit post" {{action "showEdit"}}>Edit</button>
      {{/if}}
      {{!-- Discuss semantic Markup with Whit --}}
      <br/>
  </div>
</div>
